HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Deployment Folder ###
deployment/composer-dockerhub_/mysql-files
deployment/composer-local-files/mysql-files
deployment/composer-local-files/dras-frontend/dist_
deployment/composer-local-files/dras-backend/sofia-0.0.1_.jar
deployment/dockerfiles for dockerhub/dras-backend/backend.jar
